* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    z-index: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-width: 425px;
    cursor: none;
}

.Title-Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: 800px;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}

.menu-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
}

.menu-box.hidden {
    opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.menu-box.white-background {
   color: black;
}

.menu-box.purple-background {
    color: white;
 }

.menu-box ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

.menu-box li {
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    position: absolute;
    
}

#menu-link-1 {
    top: 100px;
    left: 100px;
}

#menu-link-2 {
    top: 100px;
    right: 100px;
}

#menu-link-3 {
    bottom: 100px;
    left: 100px;
}

#menu-link-4 {
    bottom: 100px;
    right: 100px;
}

.canvas-bg {
    background-color: rgb(156, 70, 193);
}

.cursor {
    z-index: 999;
    width: 0vw;
    height: 0vh;
    position: absolute;
}

.CV {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgb(156, 70, 193);
    padding-top: 200px;
}

.CV-timeline {
    width: 50vw;
    position: relative;
}

.CV-timeline-entry {
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.CV-timeline-entry-date-span {
    width: 40%;
    word-break: break-all;
}

.CV-timeline-entry-right-container {
    width: 40%;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(243, 182, 39);
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
}

.CV-timeline-entry-institute {
    color: rgb(211, 211, 211);
}

.CV-timeline-line {
    position: absolute;
    background-color: rgb(211, 211, 211);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
    width: 5px;
    z-index: 1;
}