* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    z-index: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-width: 425px;
}

.Title-Container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: 800px;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}

.menu-box li {
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    cursor: pointer;
}

#menu-link-1 {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 9999;
}

#menu-link-2 {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 9999;
}

#menu-link-3 {
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 9999;
}

#menu-link-4 {
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 9999;
}